/*--------------------------------*\
               HEADER
\*--------------------------------*/
.site-header{
    
}






/*----------------------------------------*\
    $TITLE/LOGO
\*----------------------------------------*/
.site-home-title{
    display: inline;
}

.site-logo {
    width:100%;
    img {
        display:block;
        max-height: 100%;
    }    
}